body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}
h1{
    font-size: 35px;
}
.orange-color{
    color: orange;
}

#wel-border{  
    border-left: 5px solid #FF5959;
    border-radius: 5px;
    right: 10px;
} 
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 12px;
    border-radius: 5px;
    
}
.half-width{
    width: 50%;
    margin-left: 8%;
    margin-top: 2%;
}
.fexiable-contain{
    display: flex;
}
div img{
    width: 70%;
}
p{
    text-align: justify;
}
#scroll{
    margin-top: 40px;

}
#mission-area{
    margin-top: 150px;
    margin-left: 8%;
    margin-right: 8%;
}
#mission-blue{
    color: #13103A;
    text-align: center;

}
.mission-img{
    width: 50%;
}
#mission{
    box-shadow:  0 4px 8px 0 #cddee0;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 20px;
    width: 350px;
    padding: 10px 15px;
    margin: 15px;
}
#vission{
    box-shadow:  0 4px 8px 0 #cddee0;
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 20px;
    width: 350px;
    padding: 10px 15px;
    margin: 15px;
}
#goal{
    box-shadow:  0 4px 8px 0 #cddee0;
    background-color: #FFF4D6;
    border-radius: 20px;
    width: 350px;
    padding: 10px 15px;
    margin: 15px;
}
#develop-area{
    margin-top: 200px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 8%;

}
#develop-code{
    width: 80%;
}
#global-community{
    margin-top: 150px;
    
}

#corona-area{
    margin-top: 150px;
    margin-right: 8%;

}
#corona-app{
    text-align: center;
}
#app-img{
    width: 60%;
    margin-left: 50px;
}
footer{
    background-color: #0B0D17;
    background-size: cover;
    padding: 20px;
    text-align: center;
}
footer h1{
    color: white;
}
footer p{
    color: white;
    text-align: center;
}
footer span{
    color: white;
    text-align: center;
}
#tomato{
   color: #FF5959;
}